<!-- Footer-->
<html>

  <footer style="background-color: #3c3d1c">
    <div
      class="mx-auto px-6 md:flex md:items-center md:justify-between lg:px-8"
    >
      <div class="flex justify-center space-x-6 md:order-2">
        <p style="color: #92be63" class="text-center text-s leading-5">
          &copy; 2024 Green Thumbs. All rights reserved.
        </p>
      </div>
      <div class="mt-8 md:order-1 md:mt-0">
        <div
          class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-2"
        >
          <div class="flex flex-shrink-0 items-center">
            <a href="/login">
              <img
                style="max-width: 115px"
                src="./images/Greenthumb Logo only.png"
                alt="Your Company"
              />

            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>