<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Thumbs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"
    ></script>
    <style>
      body { background-color: rgba(241, 229, 207, 0.432); }
    </style>
    <script>
      tailwind.config = { plugins: [require("@tailwindcss/forms")], };
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>