<section>
  <div class="py-24 sm:py-32">
    <div class="flex justify-center ml-20 mt-20">
      <!-- FORM -->
      <form
        style="background-color: #e6e2e0; border-radius: 2%"
        class="px-20 py-10 newPlant"
      >
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-12">
            <h2
              style="font-family: Montagu Slab"
              class="text-2xl font-semibold leading-7 text-gray-900"
            >
              Add another plant!
            </h2>
            <!-- Plant Name -->
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label
                  for="Plant-Name"
                  class="block text-md font-bold leading-6 text-gray-900"
                >Plant Name</label>
                <div class="mt-2">
                  <input
                    type="text"
                    name="Plant Name"
                    id="plantName-input"
                    placeholder="Enter plant Name"
                    autocomplete="given-name"
                    class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <!-- Plant Description -->
              <div class="col-span-full">
                <label
                  for="Plant-Description"
                  class="block text-md font-bold leading-6 text-gray-900"
                >Plant Description</label>
                <div class="mt-2">
                  <textarea
                    id="plantDescription-input"
                    name="Plant-Description"
                    rows="3"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  ></textarea>
                </div>
                <p class="mt-3 text-sm leading-6 text-gray-600">
                  Write a few sentences about the plant.
                </p>
              </div>

              <div class="col-span-full"></div>
            </div>
          </div>

          <!-- Type of plant -->
          <div class="border-b border-gray-900/10 pb-12">
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-3">
                <label
                  for="country"
                  class="block text-md font-bold leading-6 text-gray-900"
                >Type of plant</label>
                <div class="mt-2">
                  <select
                    id="plantType"
                    name="plantType"
                    autocomplete="plant-type"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
                  >
                    <option>Fruit</option>
                    <option>Tree</option>
                    <option>Flower</option>
                    <option>Herb</option>
                    <option>Vegetable</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="border-b border-gray-900/10 pb-12">
            <div class="mt-10 space-y-10">
              <!-- STATE -->

              <fieldset class="check-plantLocation" id="state">
                <legend class="text-md font-bold leading-6 text-gray-900">
                  Select a state
                </legend>
                <div class="mt-6 space-y-6">
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="vic-checkboxState"
                        value="VIC"
                        aria-describedby="VIC-description"
                        name="VIC"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label for="vic" class="font-medium text-gray-900">
                        VIC</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="nsw-checkboxState"
                        value="NSW"
                        aria-describedby="nsw-description"
                        name="NSW"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="NSW"
                        class="font-medium text-gray-900"
                      >NSW</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="qld-checkboxState"
                        value="QLD"
                        aria-describedby="qld-description"
                        name="QLD"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="QLD"
                        class="font-medium text-gray-900"
                      >QLD</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="sa-checkboxState"
                        value="SA"
                        aria-describedby="SA-description"
                        name="SA"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="SA"
                        class="font-medium text-gray-900"
                      >SA</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="wa-checkboxState"
                        value="WA"
                        aria-describedby="WA-description"
                        name="WA"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="WA"
                        class="font-medium text-gray-900"
                      >WA</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="tas-checkboxState"
                        value="TAS"
                        aria-describedby="TAS-description"
                        name="TAS"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="TAS"
                        class="font-medium text-gray-900"
                      >TAS</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="act-checkboxState"
                        value="ACT"
                        aria-describedby="ACT-description"
                        name="ACT"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="ACT"
                        class="font-medium text-gray-900"
                      >ACT</label>
                    </div>
                  </div>
                </div>
              </fieldset>

              <!-- SEASON -->
              <fieldset id="season">

                <legend class="text-md font-bold leading-6 text-gray-900">
                  Select a Season
                </legend>

                <div class="mt-6 space-y-6">
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="spring-checkboxSeason"
                        value="Spring"
                        aria-describedby="spring-description"
                        name="Spring"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="inlineCheckboxSpring"
                        class="font-medium text-gray-900"
                      >
                        Spring</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="summer-checkboxSeason"
                        value="Summer"
                        aria-describedby="summer-description"
                        name="summer"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="inlineCheckboxSummer"
                        class="font-medium text-gray-900"
                      >Summer</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="autumn-checkboxSeason"
                        value="Autumn"
                        aria-describedby="Autumn-description"
                        name="Autumn"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="inlineCheckboxAutumn"
                        class="font-medium text-gray-900"
                      >Autumn</label>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-6 items-center">
                      <input
                        id="winter-checkboxSeason"
                        value="Winter"
                        aria-describedby="comments-description"
                        name="comments"
                        type="checkbox"
                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                      />
                    </div>
                    <div class="ml-3 text-sm leading-6">
                      <label
                        for="inlineCheckboxWinter"
                        class="font-medium text-gray-900"
                      >Winter</label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <!-- Add Plant Button -->
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            style="background-color: #3c3d1c"
            type="submit"
            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Add Plant
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="./js/addPlant.js"></script>